%cart-common {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.title {
  width: 292px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid #c4c4c4;

  @media (min-width: 1024px) {
    justify-content: center;
    border: none;
  }

  h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    margin: 4rem 0 0.625rem;

    @media (min-width: 1024px) {
      font-size: 2rem;
      margin: 4.625rem 0 2rem;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

  @media (min-width: 1024px) {
    padding: 2rem 2.5rem 7.25rem 2.5rem;
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
  }

  .cart-items-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .cart-items {
      flex-basis: 70%;

      .header-row {
        display: flex;
        flex-direction: row;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.125rem;
        text-transform: uppercase;
        color: #828282;
      }

      .row-container {
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        padding: 1.5rem 0 1.5rem 0;
        margin: 1.125rem 0 1.5rem 0;

        .table-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0;
          }

          .name-container {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .name {
              font-family: "Oswald";
              font-weight: 500;
              font-size: 1.125rem;
              text-transform: uppercase;
            }
          }

          .price {
            @extend %cart-common;
          }

          .size {
            @extend %cart-common;
          }

          .total {
            @extend %cart-common;
          }
        }
      }

      .basis-1\/6 {
        flex-basis: 16.666667%;
      }

      .basis-2\/6 {
        flex-basis: 33.333333%;
      }

      .basis-3\/6 {
        flex-basis: 50%;
      }

      .basis-4\/6 {
        flex-basis: 66.666667%;
      }

      .basis-5\/6 {
        flex-basis: 83.333333%;
      }

      .basis-1\/12 {
        flex-basis: 8.333333%;
      }

      .basis-2\/12 {
        flex-basis: 16.666667%;
      }

      .basis-3\/12 {
        flex-basis: 25%;
      }

      .basis-4\/12 {
        flex-basis: 33.333333%;
      }

      .basis-5\/12 {
        flex-basis: 41.666667%;
      }

      .basis-6\/12 {
        flex-basis: 50%;
      }

      .basis-7\/12 {
        flex-basis: 58.333333%;
      }

      .basis-8\/12 {
        flex-basis: 66.666667%;
      }

      .basis-9\/12 {
        flex-basis: 75%;
      }

      .basis-10\/12 {
        flex-basis: 83.333333%;
      }

      .basis-11\/12 {
        flex-basis: 91.666667%;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;

      @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
      }
    }
  }

  .order {
    width: 292px;
    margin-top: 1rem;
    @media (min-width: 1024px) {
      margin: 0;
      flex-basis: 30%;
    }

    .order-details {
      height: 208px;
      padding: 1rem;
      background: #f0f2f2;
      border: 2px solid #c4c4c4;

      .detail {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #c4c4c4;

        .subtotal {
          font-family: "Oswald", sans-serif;
          font-weight: 500;
          font-size: 1.125rem;
        }

        .tax {
          font-family: "Oswald", sans-serif;
          font-weight: 500;
          font-size: 1.125rem;
          color: #828282;
        }

        .total {
          font-family: "Oswald", sans-serif;
          font-weight: 400;
          font-size: 1.5rem;
        }
      }
    }

    .checkout-button {
      width: 100%;
      height: 55px;
      color: #ffffff;
      background: #000000;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      font-size: 0.875rem;
      border: none;
      cursor: pointer;
    }

    .checkout-button-disabled {
      width: 100%;
      height: 55px;
      color: #ffffff;
      background: #828282;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      font-size: 0.875rem;
      border: none;
    }
  }
}

.action {
  width: 292px;
  height: 32px;
  background-color: #f0f2f2;
  border: 2px solid #c4c4c4;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #828282;
  cursor: pointer;

  @media (min-width: 1024px) {
    width: 200px;
  }
}
