.catalog__container {
  margin-top: 6rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  @media (min-width: 810px) {
    flex-direction: row;
  }

  .catalog__filter-container {
    display: none;
    @media (min-width: 810px) {
      display: block;
      width: 20%;
      padding: 1.875rem;
      border-right: 1px solid #C4C4C4;
      font-family: "OswaldRegular";
      font-size: 24px;
      flex-direction: row;
    }

    .catalog__color-palette {
      //width: 24px;
    }
  }

  .catalog__catalog-container {
    padding: 0.875rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.875rem;
    @media (min-width: 810px) {
      width: 80%;
      padding: 1.875rem;
      gap: 1.625rem;
    }
  }
}