.list {
  display: none;
}

.list li {
  text-align: center;
  flex-shrink: 0;
}

.list a {
  text-decoration: none;
  font-family: "OswaldSemiBold";
  font-size: 0.875rem;
  color: white;
}

.list a:hover,
.list a:active {
  text-decoration: underline;
  text-decoration-color: #eb5757;
  text-underline-offset: 0.3125rem;
}

@media (min-width: 40rem) {
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-left: auto;
  }
}
