.container {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 0.875rem;
  @media (min-width: 810px) {
    width: fit-content;
    height: fit-content;
    justify-content: space-between;
    border: none;
    margin: 0;
  }

  .user {
    font-family: "OswaldSemibold";
    font-size: 0.875rem;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.875rem;
    @media (min-width: 810px) {
      padding-left: 0.687rem;
    }
  }
}
