.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .user {
    font-family: "OswaldSemibold";
    font-size: 0.875rem;
    white-space: nowrap;
    color: #ffffff;
    padding-left: 0.687rem;
    text-transform: uppercase;
  }
}
