.container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .product {
    width: 167px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h4 {
      font-family: "OswaldRegular";
      font-size: 1.125rem;
    }

    span {
      font-family: "RobotoMedium";
      font-size: 0.875rem;
      color: #828282;
    }

    .cart-button {
      width: 100%;
      height: 32px;
      background-color: black;
      font-family: "OswaldRegular";
      font-size: 0.875rem;
      font-weight: 500;
      color: white;
      cursor: pointer;
    }
  }
}
