.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0.6875rem;

  @media (min-width: 810px) {
    padding-top: 0;
  }
}

.brands {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.875rem;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: 810px) {
    justify-content: center;
  }
}

.fieldset {
  font-family: "OswaldRegular";
  font-size: 1.25rem;
  text-align: left;
  width: 100%;

  @media (min-width: 810px) {
    font-size: 1.5rem;
    text-align: center;
  }
}

/* @media (min-width: 810px) {
  .section {
    padding-top: 0;
  }

  .brands {
    justify-content: center;
  }

  .fieldset {
    font-size: 1.5rem;
    text-align: center;
  }
} */
