.container {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  button {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "OswaldSemibold";
    font-size: 1.125rem;
    margin-bottom: 2rem;
    color: white;
    cursor: pointer;
  }

  form {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .newsletter {
      font-family: "RobotoMedium";
      font-size: 0.875rem;
      color: #828282;
      margin-top: 0;
      margin-bottom: 0.875rem;
    }

    input {
      width: 100%;
      height: 2rem;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      margin-bottom: 0.5rem;
    }

    button.submit {
      width: 100%;
      height: 2rem;
      background-color: white;
      font-family: "OswaldRegular";
      font-size: 0.875rem;
      color: #3f3f3f;
    }
  }
}
