.newsletter {
  width: 292px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (min-width: 810px) {
    width: 15rem;
  }

  .title {
    font-family: "RobotoMedium";
    font-size: 0.875rem;
    color: #828282;
    margin-top: 0;
    margin-bottom: 0.875rem;
  }

  input {
    width: 100%;
    height: 2rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin-bottom: 0.5rem;
  }

  .submit {
    width: 100%;
    height: 2rem;
    border: none;
    border-style: none;
    outline: none;
    background-color: white;
    font-family: "OswaldRegular";
    font-size: 0.875rem;
    color: #3f3f3f;
  }
}
