.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  .input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 810px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &.space {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    .label {
      font-family: "RobotoRegular";
      font-size: 1rem;
      margin-right: 0.5rem;
      margin-bottom: 0.25rem;
      color: #3f3f3f;

      &.row {
        margin: 0;
      }

      @media (min-width: 810px) {
        margin-bottom: 0;

        &.dropdown {
          align-self: flex-start;
          margin-top: 0.5rem;
        }
      }
    }

    .field {
      width: 18.25rem;
      height: 2rem;
      border: 1px solid #c4c4c4;
      outline: none;
      font: inherit;
      padding-left: 0.5rem;
    }

    .field:focus {
      border: 2px solid #c4c4c4;
    }

    input::placeholder {
      font-family: "RobotoRegular";
      font-size: 0.875rem;
      color: #828282;
    }

    .checkbox {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
      margin-left: 0;
    }

    .invalid {
      border: 2px solid #eb5757;
    }
  }
}
