.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: calc(50vw - 4.25rem);
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;

  @media (min-width: 810px) {
    display: none;
  }
}
