.search {
  width: 18.25rem;
  height: 2.5rem;
  background-color: transparent;
}

.button {
  width: 5rem;
  height: 2.5rem;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 0.75rem;
  color: gray;
}
