.container {
  margin-top: 6rem;
  padding-bottom: 2rem;

  @media (min-width: 600px) {
    margin-top: 0;
  }

  .title {
    display: none;

    @media (min-width: 600px) {
      display: block;
      text-align: center;
      margin-top: 4rem;
      font-family: "OswaldRegular";
      font-size: 2rem;
    }

    @media (min-width: 810px) {
      margin-top: 4.625rem;
    }
  }

  .border {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;

    @media (min-width: 600px) {
      width: 60vw;
      padding: 2rem 0;
      align-items: center;
      border: 1px solid #c4c4c4;
    }

    @media (min-width: 810px) {
      width: 90vw;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2rem;
    }

    .content {
      width: 292px;

      @media (min-width: 810px) {
        margin-left: 2rem;
        width: 80%;
      }
    }
  }
}
