.container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;

  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: center;
  }

  .action {
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
}
