.search {
  width: 18.25rem;
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;

  @media (min-width: 810px) {
    width: 13.375rem;
    height: 1.625rem;
    margin: 0 auto 0 1rem;
    justify-content: space-between;
    background-color: transparent;
    border-bottom: 1px solid gray;
  }
}

.input {
  display: flex;
  width: 12.375rem;
  border: none;
  outline: none;

  &::placeholder {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 0.75rem;
  }

  @media (min-width: 810px) {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
  }
}

.button {
  width: 5rem;
  height: 2.5rem;
  font-family: "OswaldRegular";
  font-weight: 500;
  font-size: 0.75rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: gray;

  @media (min-width: 810px) {
    margin: 0;
    padding: 0;
    width: 1rem;
    background-color: transparent;
    color: white;
  }
}

.icon {
  display: none;

  @media (min-width: 810px) {
    display: inline;
  }
}

@media (min-width: 810px) {
  .title {
    display: none;
  }
}
