.section {
  //width: 100vw;
  background-color: #f8f9fb;
  padding: 0.6875rem;
}

.title {
  font-family: "OswaldRegular";
  font-size: 1.5rem;
  line-height: 2.375rem;
  margin-top: 0;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  overflow: auto;
  white-space: nowrap;
  list-style: none;
  padding: 0;
  margin-bottom: calc(2.875rem - 11px);
  @media (max-width: 810px) {
    //white-space: normal;
    flex-wrap: wrap;
  }
}
