.details__container {
  .filter {
    background-color: #ffffff;
    width: 100%;
    padding: 1rem 0.625rem 1rem 0.625rem;
    margin: 0;
    @media (max-width: 768px) {
      border: 1px solid #c4c4c4;
      padding: 0.825rem 0.625rem 0.825rem 0.625rem;
    }

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      font-size: 1.5rem;

      h2 {
        margin: 0;
        @media (max-width: 768px) {
          font-family: "Oswald", sans-serif;
          font-weight: 500;
          font-size: 0.875rem;
          text-transform: uppercase;
          color: #3f3f3f;
        }
      }

      .button {
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }

    .reset {
      border: none;
      background: transparent;
      cursor: pointer;
      margin: 0;
      padding: 0;
      color: #3f3f3f;
    }

    .content {
      .filter-title {
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        @media (max-width: 768px) {
          font-size: 0.75rem;
          text-transform: uppercase;
          color: #3f3f3f;
        }
      }
    }

    .no-content {
      display: none;
    }
  }
}
