.actions {
  display: none;
}

.actions a {
  text-decoration: none;
  font-family: "OswaldSemiBold";
  font-size: 0.875rem;
  white-space: nowrap;
  cursor: pointer;
  color: white;
}

.actions button {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-family: "OswaldSemiBold";
  font-size: 0.875rem;
  white-space: nowrap;
  cursor: pointer;
  color: white;
}

@media (min-width: 40rem) {
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
}
